<!doctype html>
<!-- See http://www.firepad.io/docs/ for detailed embedding docs. -->
<html>
<head>
  <meta charset="utf-8">
  <title>CodePair :: HackerRank</title>

  <%- css("libraries") %>
  <%- js('libraries') %>



</head>

<body id="codepair">
hello world

</body>
</html>
